.home-container {
  background-color: #9a3838;
  height: 100vh;
}

#tr-white {
  width: 7vh;
  margin-top: 2vh;
}

.text-subtitle {
  color: #FFFFFF;
  font-family: 'Cairo', sans-serif;
  font-size: 3vh;
  text-align: center;
  margin-top: 2vh;
}

.text-subtitle-container {
  display: inline-block;
  text-align: center;
}

.review-subtitle-1 {
  color: #FFFFFF;
  font-family: 'Cairo', sans-serif;
  font-size: 3vh;
  text-align: center;
  margin-top: 2vh;
}

#short-message {
  margin-top: 1vh;
}

.review-subtitle-2 {
  color: #FFFFFF;
  font-family: 'Cairo', sans-serif;
  font-size: 3vh;
  text-align: center;
  margin-top: 1vh;
}

#review-content {
  width: 60vw;
  font-family: 'Cairo', sans-serif;
  max-height: 50vh;
}

.textarea-container {
  text-align: center;
}

.stars-container {
  display: table;
  margin: -1% auto 0 auto;
}

.submit-container {
  text-align: center;
}

#submit-button {
  margin-top: 2vh;
  font-family: 'Cairo', sans-serif;
  color: #9a3838;
  background-color: #FFFFFF;
  border: none;
}

#submit-button:hover {
  background-color: lightgray;
}

.loading-container {
  margin-top: 4vh;
  text-align: center;
}

#error-message {
  margin-top: 4vh;
}